<div>
  <p>Archive for the interesting  stuff from Cultivate Slack</p>
  <ul class="channels">
    <%= for {_channel_id, channel} <- Enum.sort(channels, fn {_, c1}, {_, c2} -> c1["name"] < c2["name"] end) do %>
    <li>
      <a href="<%= channel["name"] %>/">#<%= channel["name"] %></a>
    </li>
    <% end %>
  </ul>
</div>
